<h1>States#index</h1>
<p>Find me in app/views/states/index.html.erb</p>


<div class="container">
  <% @states.each do |state| %>
    <%= link_to state.name, state %> (<%= state.npi_companies.size %>)
    <p>
      <% %>
    </p>
  <% end %>
</div>
