<h1>States#index</h1>
<p>Find me in app/views/states/index.html.erb</p>



<div class="container" />
<h1>State</h1>
  <ul class="list-group">
    <% @states.each do |state| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to state.name, state %>
        <span class="badge bg-primary rounded-pill"><%= state.npi_companies.size %></span>
      </li>
    <% end %>  
  </ul>
  Test
<div />

