<div id="<%= dom_id pipeline_activity %>">

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
       <th>Pipeline date</th>      

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= pipeline_activity.end_date %></td>

      </tr>
    </tbody>
  </table> 

</div>
