<div id="<%= dom_id pipeline_activity %>">
  <p>
    <strong>End date:</strong>
    <%= pipeline_activity.end_date %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= pipeline_activity.start_date %>
  </p>

  <p>
    <strong>Week number:</strong>
    <%= pipeline_activity.week_number %>
  </p>

</div>
