<h1>Editing pipeline activity</h1>

<%= render "form", pipeline_activity: @pipeline_activity %>

<br>

<div>
  <%= link_to "Show this pipeline activity", @pipeline_activity %> |
  <%= link_to "Back to pipeline activities", pipeline_activities_path %>
</div>
