<h1>Editing hs contact</h1>

<%= render "form", hs_contact: @hs_contact %>

<br>

<div>
  <%= link_to "Show this hs contact", @hs_contact %> |
  <%= link_to "Back to hs contacts", hs_contacts_path %>
</div>
