<h1>Editing tte servicing pharmacy</h1>

<%= render "form", tte_servicing_pharmacy: @tte_servicing_pharmacy %>

<br>

<div>
  <%= link_to "Show this tte servicing pharmacy", @tte_servicing_pharmacy %> |
  <%= link_to "Back to tte servicing pharmacies", tte_servicing_pharmacies_path %>
</div>
