<h1>New tte servicing pharmacy</h1>

<%= render "form", tte_servicing_pharmacy: @tte_servicing_pharmacy %>

<br>

<div>
  <%= link_to "Back to tte servicing pharmacies", tte_servicing_pharmacies_path %>
</div>
