<h1>Editing npi company</h1>

<%= render "form", npi_company: @npi_company %>

<br>

<div>
  <%= link_to "Show this npi company", @npi_company %> |
  <%= link_to "Back to npi companies", npi_companies_path %>
</div>
